* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  transition: all;
}

.div {
  height: 20rem;
  width: 20rem;
  border-radius: 1rem;
  background-color: gray;
  animation: right 8s linear infinite;
}

body > div {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 6rem;
}

button {
  padding: 0.8rem 3rem;
  font-size: large;
  border-radius: 0.4rem;
  background-color: antiquewhite;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

@keyframes left {
  from {
    rotate: 0;
  }

  to {
    rotate: -360deg;
  }
}
@keyframes right {
  from {
    rotate: 0;
  }

  to {
    rotate: 360deg;
  }
}
