* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  padding: 1.4rem 4rem;
  border: none;
  border-radius: 0.5rem;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(0, 255, 170);
}

p {
  font-size: 2rem;
}
