* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  transition: all;
}

.section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
h1 {
  color: #000000;
  font-size: 8rem;
}
.btn {
  cursor: pointer;
  padding: 1rem 4rem;
  border: none;
  border-radius: 0.5rem;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(0, 255, 170);
}
