* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.traffic {
  display: flex;
  justify-content: center;
  padding: 0.3rem;
  border: 2px solid black;
  flex-direction: column;
  gap: 4px;

  border-radius: 0.5rem;
}

.traffic span {
  border-radius: 100%;
  height: 5rem;
  width: 5rem;
  border: 1px solid black;
  /* background-color: aquamarine; */
}

.traffic span:nth-child(1) {
  /* background-color: rgba(255, 0, 0, 0.3); */
}
.traffic span:nth-child(2) {
  /* background-color: rgba(255, 255, 0, 0.28); */
}
.traffic span:nth-child(3) {
  /* background-color: rgba(0, 128, 0, 0.312); */
}

.button__c {
  display: flex;
  gap: 12px;
  padding: 0.2rem;
}

button {
  padding: 10px 40px;
}

button {
  color: white;
  border: none;
  border-radius: 0.2rem;
  font-size: 1rem;
}

button:nth-child(1) {
  background-color: red;
}
button:nth-child(2) {
  color: black;
  background-color: yellow;
}
button:nth-child(3) {
  background-color: green;
}
