* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: black;
  color: white;
  padding: 16px 44px;
  border-radius: 8px;
  font-size: 1.5rem;
  cursor: pointer;
}
